/* variables */
:root {
}
/* start global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px; /* Default container width for tablets */
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px; /* Default container width for desktops */
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px; /* Default container width for large desktops */
  }
}
/* end global rules */

html {
  /* when you click at an href="#services"  the scrolling will be smoothly*/
  scroll-behavior: smooth;
}
body {
  /* background-color: #eee; */
}
/* strat header */
.header {
  background-color: #fff;
}
.header .container {
  position: relative;
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
.header .logo a {
  color: #2196f3;
}
.header .nav > ul.links {
  display: flex;
  /* justify-content: space-between; */
}
.header .nav > ul.links > li {
  display: flex;
  align-items: center;
  transition: 0.2s;
  font-size: 17px;
}
.header .nav > ul.links > li > a {
  padding: 20px 30px;
  color: inherit;
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .nav > ul.links > li > a:hover {
  background-color: rgb(204 204 204 / 0.12);
  color: #2196f3;
}
.header .nav > ul.links > li > a:hover::before {
  transform: rotateY(0deg);
}
.header .nav > ul.links > li > a::before {
  content: "";
  border-top: 4px solid #2196f3;
  position: absolute;
  width: 100%;
  top: 0;
  transform: rotateY(90deg);
  transition: 0.5s;
  transform-origin: left;
  left: 0px;
}
.header .container .nav li:last-of-type:hover .other-links {
  display: flex;
  visibility: initial;
  top: calc(100% + 1px);
  opacity: 1;
  z-index: 100;
  padding-bottom: 10px;
}

.header .container .other-links {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 150px;
  /* if we use just the opacity and the index if the page is empty and we hover over the .other-links
  the links will be visible cause we hover a part of li , so we can use the visibilty hidden to solve this prb
  or we make other elements above the other links */
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
  background-color: #fff;
  border-bottom: 3px solid #2196f3;
  gap: 40px;
}

@media (max-width: 767px) {
  .header .nav {
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0; */
    /* margin: 0;*/
  }
  .header .nav .logo {
    flex-basis: 50px;
  }

  .header .nav > ul.links > li a {
    padding: 13px 10px;
    font-size: 14px;
  }
}

.header .container .other-links .test {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .container .other-links .events {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .container .other-links img {
  width: 100%;
  padding: 20px;
}
.header .container .other-links ul {
  display: flex;
  flex-flow: column;

  flex: 1;
  position: absolute;
  padding: 15px 0px;
  padding-right: 15px;
  min-width: 250px;
}

.header .container .other-links ul li {
  padding: 15px 10px;
  color: #2196f3;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgb(119 119 119 / 0.3);
  display: block;
  position: relative;
  overflow: hidden;
}
.header .container .other-links ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  transition: 0.3s;
  background-color: rgb(238 238 238 / 0.5);
  z-index: -1;
}
.header .container .other-links ul li:hover::before {
  left: 0;
}
.other-links ul li a {
  color: inherit;
  display: block;
}

.header .container .other-links ul li i {
  margin-right: 10px;
}
.header .container .other-links ul li:last-of-type {
  border: none;
}
@media (max-width: 991px) {
  .header .container .other-links div:first-of-type {
    display: none;
  }
  .header .container .other-links ul {
    padding: 25px 0;
    min-width: 350px;
  }
  .header .container .other-links ul li {
    margin: 0px 25px;
  }
}
@media (max-width: 767px) {
  .header .container .other-links {
    flex-flow: column wrap;
    gap: 0;
  }
  .header .container .other-links ul {
    margin: 0;
    padding: 0;
    width: 100% !important;
    flex: 1;
  }
  .header .container .other-links ul li a {
    margin: 0;
    padding: 1px;
    font-size: 18px;
  }

  .header .container .other-links .events li:first-child {
    border-top: 1px solid rgb(119 119 119 / 0.3);
  }
}
/* end header */

/* start landing  */
.landing {
  position: relative;
  height: calc(100vh - 72px);
}
.landing::before {
  content: "";
  width: 100%;
  height: 93%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: #eee;
  transform-origin: top left;
  transform: skewY(-6deg);
}
.landing .icon i {
  font-weight: 900;
  position: absolute;
  bottom: 40px;
  font-size: 30px;
  left: 50%;
  color: #2196f3;
  animation-name: bouncing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.landing .icon a {
  display: block;
}
.landing .container {
  display: flex;
  padding-top: 25px;
}
.landing .container .image {
  display: flex;
}
.landing .container .image img {
  width: 100%;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  flex: 1;
}

@keyframes move {
  to {
    transform: translateY(-40px);
  }
}
.landing .container .text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 90%;
}
.landing .container .text p {
  font-size: 23px;
  margin: 0;
  color: #666;
  line-height: 1.6;
  font-weight: 400;
  max-width: 500px;
}
.landing .container .text h1 {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container {
    justify-content: center;
    align-items: center;
  }
  .landing .container .text {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .landing .container .text {
    margin: 5px auto;
  }
  .landing .container .text p {
    font-size: 18px;
    max-width: 500px;
  }
  .landing .container .text h1 {
    font-size: 25px;
    max-width: 500px;
  }
}

/* end landing  */

/* start main title */
.title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.title .main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title .main-title h1 {
  padding: 10px 20px;
  border: 2px solid black;
  position: relative;
  /* when you applied something on h1 it takes 0.3s on applying */
  transition: 0.3s;
}
.title .main-title h1:hover {
  color: white;
  border: 2px solid white;
  /* when I hover the hover will applied only after 0.5s  */
  transition-delay: 0.5s;
}
.title .main-title h1::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  border-radius: 50%;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.title .main-title h1::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  border-radius: 50%;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.title .main-title h1:hover::after {
  z-index: -1;
  animation: move-right 0.5s linear forwards;
}
.title .main-title h1:hover::before {
  z-index: -1;
  animation: move-left 0.5s linear forwards;
}
@keyframes move-left {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
  }
}
@keyframes move-right {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    border-radius: 0;
  }
}

/* end main title*/
